@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
body {
  font-family: "Varela Round", sans-serif;
}

body {
  background: #fafafa;
}

.border-grey {
  border-color: #EEE !important;
}

.border-green {
  border-color: red !important;
}



.header {
  background-color: red;
  height: 75px;
  padding: 15px 0;
  
}

.header__logo {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
}

.header__logo:hover {
  color: #fff;
  text-decoration: none;
}

.header__menu {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
}


.header__menu:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .active-mobile .header__menu {
    background: #fff;
    border-bottom: 1px solid red;
    display: block;
    width: 100vw;
    left: -25px;
    position: relative;
    padding: 5px 20px;
  }
}

.header__menu--cart img {
  margin-top: -4px;
  margin-left: 8px;
  margin-right: 8px;
}

.header__menu--cart span {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 10px;
}

.header__menu--cart:hover {
  text-decoration: none;
}

.header .hamburger {
  font-size: 2rem;
  position: relative;
  top: 2px;
}

.hero-banner {
  background: url(../images/png6.png)  0 0 no-repeat;
  background-size:cover;
  background-position: 70% 80%;
  height: 576px;
  padding-top: 90px;
}

.hero-banner__container {
  background-color: #fff;
  border-radius: 16px;
  color: #111111;
  max-width: 570px;
  margin: 0 auto;
  padding: 56px 48px;
}

.hero-banner__container:hover {
  -webkit-transition: all 3s;
  transition: all 3s;
}

.hero-banner__text {
  color:red;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
}

.hero-banner__title {
  color: #111111;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.hero-banner__btn {
  background-color: red;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

.hero-banner__btn:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero-banner__container {
    padding: 18px 10px;
    max-width: 80%;
  }
  .hero-banner__title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .hero-banner__text {
    font-size: 15px;
    padding-top: 10px;
  }
  .hero-banner__btn {
    font-size: 12px;
    padding: 8px 15px;
    margin-bottom: -10px;
    text-align: center;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .hero-banner__btn {
    padding: 15px 35px;
    margin-bottom: -20px;
  }
}

.login{
  background: url(../images/png7.png) ;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Varela Round", sans-serif;
}
.login-container{
  position: relative;
  margin-top: 160px;
  margin-bottom: 170px;
  width: 450px;
  height: auto;
  background:white;
  border-radius: 5px;
}
.form--title{
  padding: 20px, 130px;
  font-size: 35px;
  font-weight: bold;
  color:black
}
.login-form{
  padding: 20px 40px;

}
.login-form .font{
  font-size: 19px;
  color: black;
  margin: 5px 0;

}
.login-form input{
  height: 40px;
  width: 350px;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid  silver;
}
.login-form .font2{
  margin-top: 30px;
}
.login-form button{
  margin: 45px 0 30px 0;
  height:  45px;
  width: 365px;
  font-size: 20px;
  color:white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #1a237e;
  border-radius: 3px;
  border: 1px solid #3949ab; 
}
.login-form button:hover{
background:#151c6a ;
}


.categories {
  color: #fff;
  margin-top: 5rem;
}

.categories__item {
  border-radius: 10px;
  max-width: 100%;
}

.categories__item--yellow {
  background: #ffc12c;
  margin-right: 3px;
  margin-bottom: 30px;
}

.categories__item--pink {
  background: #fb416b;
  margin-left: 3px;
  margin-bottom: 30px;
}

.categories__img {
  max-width: 100%;
  margin-top: -5rem;
  padding-bottom: 18px;
}

.categories__title {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.categories__link {
  background-color: #fff;
  border-radius: 20px;
  color: #111111;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 28px;
  text-decoration: none;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.categories__link:hover {
  color: #111111;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(10%);
          transform: scale(10%);
}

@media (max-width: 768px) {
  .categories__item--yellow {
    margin-bottom: 30px;
    margin-left: 10px;
  }
  .categories__title {
    font-size: 16px;
    margin-top: -2rem;
  }
  .categories__link {
    background: #fff;
    border-radius: 16px;
    color: #111111;
    display: inline-block;
    font-size: 12px;
    padding: 4px 18px;
    margin-left: -60px;
    margin-bottom: 25px;
  }
  .categories__item--pink {
    margin-top: 50px;
  }
}

.featured-products__title {
  color: #111111;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.featured-products__all-link {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.featured-products__all-link:hover {
  color: #111111;
  text-decoration: none;
}

.featured-products__card {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: block;
  text-align: center;
  padding: 35px 30px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.featured-products__card:hover {
  -webkit-box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  -webkit-transform: scale(1.05) translate(0px, -2px);
          transform: scale(1.05) translate(0px, -2px);
}

.featured-products__img {
  max-width: 80%;
}

.featured-products__name {
  color: #111111;
}

.featured-products__btn {
  background: red;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: .7rem;
  padding: 10px 20px;
}

.featured-products__btn:hover {
  color: #fff;
  text-decoration: none;
}

.featured-products .featured-product__btn--active {
  background: red;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
}

.featured-products .featured-product__btn--active:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .featured-products__card {
    text-align: center;
    padding: 25px 10px;
  }
  .featured-products__img {
    max-width: 50%;
    margin-top: 0px;
  }
  .featured-products__title {
    font-size: 22px;
  }
  .featured-products__all-link {
    margin-bottom: 30px;
  }
}

.combo {
  margin-top: 60px;
}

.combo__title {
  color: #111111;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.combo__all-link {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.combo__all-link:hover {
  color: #111111;
  text-decoration: none;
}

.combo__card {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: block;
  text-align: center;
  padding: 35px 30px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.combo__card:hover {
  -webkit-box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  -webkit-transform: scale(1.05) translate(0px, -2px);
          transform: scale(1.05) translate(0px, -2px);
}

.combo__img {
  max-width: 90%;
}

.combo__name {
  color: #111111;
}

.combo__btn {
  background: red;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  font-size: .7rem;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .combo__title-bar {
    width: 100%;
  }
}


.newsletter__back {
  width: 100%;
  padding: 48px;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.newsletter__video-link {
  border: 20px solid red;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
}

.newsletter__info {
  margin-top: -20px;
}

.newsletter__search {
  border: 2px solid red;
  background-color: #f8f8f8;
  border-radius: 24px;
  height: 48px;
  padding-right: 28px;
  padding-left: 28px;
}

.newsletter__btn {
  background-color: red;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 28px;
  text-decoration: none;
}

.newsletter__btn:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .newsletter__back {
    padding-bottom: 50px;
    text-align: center;
    width: 90%;
  }
  .newsletter__video-link {
    border: 20px solid red;
    margin-bottom: 1rem;
  }
  .newsletter__video-link img {
    height: 24px;
  }
  .newsletter__info {
    font-size: 18px;
  }
  .newsletter__info span {
    color: red;
  }
  .newsletter__btn {
    background: red;
    border-radius: 27px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 20px 80px;
  }
}

.food {
  padding-top: 30px;
}

.food__title {
  color: red;
}

.food__image {
  border-radius: 16px;
  background-color: transparent;
  overflow: hidden;
  height: 180px;
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: middle;
}

.food__btn {
  background-color: red;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  padding: 15px 32px;
  text-decoration: none;
}

.food__btn:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .food__image {
    border-radius: 12px;
    height: 110px;
    margin-top: 10px;
  }
}

.footer {
  background-color: red;
  padding-top: 20px;
  overflow: hidden;
}

.footer__logo {
  color: #fff;
  font-weight: 400;
  font-size: 23px;
}

.footer__logo:hover {
  color: #fff;
  text-decoration: none;
}

.footer__link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
}

.footer__link:hover {
  color: #fff;
}

.footer__social-icon img {
  height: 20px;
  margin-right: 5px;
  text-align: right;
}

.footer__copyrights {
  border-top: 1px solid #FFF;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.footer__copyrights-text {
  background-color: red;
  position: relative;
  top: -10px;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 10px;
    margin-left: 0px;
  }
  .footer__copyrights {
    padding-bottom: 30px;
  }
}

.cart-modal {
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.cart-modal--on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-modal__container {
  background: #fff;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
}

.cart-modal__title-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.cart-modal__close {
  border: 0;
  background: transparent;
  font-size: 2rem;
}

.cart-modal__items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-modal__item-img {
  width: 60px;
}

.cart-modal__item-title {
  font-size: 1rem;
  font-weight: 700;
}

.cart-modal__item-price {
  font-size: 0.7rem;
  margin: 0;
}

.cart-modal__item-remove-btn {
  background: transparent;
  border: 0;
  color: #fb416b;
  font-size: 0.7rem;
  padding: 0;
  text-decoration: underline;
}

.cart-modal__item-qty {
  text-align: center;
  width: 80px;
}

.cart-modal__continue-btn {
  border: 0;
  width: 100%;
}

.breadcrumbs {
  border: 2px solid #e5e5e5;
  border-radius: 24px;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 48px;
  margin-top: 48px;
  padding: 8px 28px;
}

.breadcrumbs a {
  color: #999;
  text-decoration: none;
}

.breadcrumbs .breadcrumbs-arrow {
  width: 9px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.2;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.delivery {
  padding-left: 17px;
  padding-right: 17px;
}

.delivery .delivery-back {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.delivery__info h2 {
  color: #111111;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.delivery__info p {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.delivery__info h3 {
  color: #111111;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
}

.delivery__info h4 {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.delivery__info-list {
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.delivery__questions {
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  padding: 40px;
  width: 270px;
}

.delivery__questions h5 {
  font-size: 17px;
  margin-bottom: 30px;
}

.delivery__btn {
  background-color: red;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 28px;
  text-decoration: none;
}

.delivery__btn:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .delivery-back {
    padding: 5px;
  }
  .delivery__info {
    padding-left: 15px;
    padding-right: 10px;
  }
  .delivery__info h2 {
    font-size: 28px;
    margin-top: -40px;
    padding-left: 10px;
  }
  .delivery__info h3 {
    color: #111111;
    font-size: 22px;
  }
  .delivery__info h4 {
    font-size: 22px;
  }
  .delivery__info p {
    max-Width: 100%;
    font-size: 15px;
  }
  .delivery__questions {
    margin-left: 40px;
    margin-bottom: 30px;
  }
}
.intro-menu__title {
  color: #a5c926;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.intro-menu__heading {
  color: #111111;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.intro-menu__paragraph {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.intro-menu__link {
  border-bottom: 2px solid #999999;
  color: #111111;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 6px;
}

.intro-menu__link:hover {
  color: #111111;
  border-color: red;
  text-decoration: none;
}

.intro-menu__image {
  width: 100%;
  border-radius: 16px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media (max-width: 768px) {
  .intro-menu__heading {
    font-size: 32px;
  }
  .promo__heading-2 {
    margin-left: 25px;
  }
}


.contacts-info {
  padding-left: 17px;
  padding-right: 17px;
}

.contacts-info__back {
  overflow: hidden;
  width: 100%;
  padding: 80px;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .contacts-info .contacts-info__back {
    padding: 18px;
  }
}

.contacts-info__form h4 {
  margin-bottom: 20px;
}

.contacts-info__map {
  border-radius: 18px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contacts-info .contacts-info__map {
    padding-top: 5px;
    padding-bottom: 15px;
    height: 300px;
    width: 100%;
  }
  .contacts-info .contacts-info__form h4 {
    margin-top: 10px;
  }
  .contacts-info .contacts-info__form {
    font-size: 14px;
  }
  .contacts-info .contacts-info__contact {
    display: none;
  }
  .contacts-info .contacts-info__btn, .contacts-info .cart-modal__continue-btn {
    color: #fff;
    margin-bottom: 30px;
    text-decoration: none;
  }
}

.contacts-info__input, .cart-modal__item-qty {
  border-radius: 20px;
  background-color: #f8f8f8;
  border: 2px solid #e5e5e5;
  color: #111111;
  font-size: 14px;
  padding: 20px;
  height: 28px;
}

.contacts-info__btn, .cart-modal__continue-btn {
  background-color: red;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  padding: 14px 28px;
  text-decoration: none;
}

.contacts-info__contact div {
  color: #111111;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.menu__back {
  overflow: hidden;
  width: 100%;
  padding: 80px;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.menu__info h2 {
  color: #111111;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 20px;
}

.menu__info p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.menu__info h4 {
  color: red;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

.menu__field {
  border-radius: 5px;
  border-color: #333333;
  border-width: 1px;
  color: #333333;
  max-width: 40%;
  padding: 5px 5px;
  padding-left: 12px;
}

.menu__image {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

.menu__button {
  cursor: pointer;
  border-radius: 24px;
  background-color: red;
  border: red;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  height: 48px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
}

.menu__title {
  color: #111111;
  font-size: 17px;
  font-weight: 24px;
  line-height: 400;
}
