{% extends 'index.html' %}

{% block content%}

<section class="hero-banner mb-5">
    <div class="hero-banner__container col-md-4 text-center mt-5">
        <p class="hero-banner__text">Say Hello to FastFood!</p>
        <h1 class="hero-banner__title">WELCOME</h1>
        <div class="text-center pt-3 pb-3 pb-md-0">
            <a href="menu.html" class="hero-banner__btn">Open Menu</a>
        </div>
    </div>
</section>



<section class="featured-products py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-10">
                <h3 class="featured-products__title">Food</h3>
            </div>
            <div class="col-5 col-md-2 text-right">
                <a href="menu.html" class="featured-products__all-link">See All Food &#10140</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-green mt-3"></div>
            <div class="col-10 border border-grey  mt-3"></div>
        </div>
        <div class="row">
            {% for post in category_list %}
            
                <div class="col-md-3 mt-5">
                    <a class="featured-products__card" href="{{ post.slug }}">
                        <img src="{{ post.image.url }}" alt="" class="featured-products__img mb-3">
                        {% comment %} <p class="featured-products__name">{{ post.category.name }}</p> {% endcomment %}
                        <span class="featured-products__btn">{{ post.name }} </span>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock content%}
{% comment %} {% block content2%}
<section class="combo py-4 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-10">
                <h3 class="combo__title">Combo</h3>
            </div>
            <div class="col-5 col-md-2 text-right">
                <a href="menu.html" class="combo__all-link">See All Food &#10140</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-green mt-3"></div>
            <div class="col-10 border border-grey mt-3"></div>
        </div>
        <div class="row">
            {% for post in category_list %}
            
            <div class="col-md-3 mt-5">
                <a class="featured-products__card" href="{{ post.slug }}">
                    <img src="{{ post.image.url }}" alt="" class="featured-products__img mb-3">
                    <p class="featured-products__name">{{ post.category.name }}</p> 
                    <span class="featured-products__btn">{{ post.name }} </span>
                </a>
            </div>
        {% endfor %}
            
        </div>
    </div>
</section>
{% endblock content2%} {% endcomment %}